<!-- Title - Style 1 section with custom top padding -->
<section class="hg_section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!-- Title element -->
                <div class="kl-title-block clearfix text-center tbk-symbol-- tbk-icon-pos--after-title">
                    <!-- Title with kl-font-alt font, custom font size, bold style and light gray color -->
                    <h3 class="tbk__title kl-font-alt fs-xxl fw-bold">
                        Top Flight Offers
                    </h3>
                    <!--/ Title with kl-font-alt font, custom font size, bold style and light gray color -->
                    <!-- Sub-Title with custom font size an very thin style -->
                    <h4 class="tbk__subtitle fw-vthin">
                        If you’re planning your next adventure, we’ve got the best cheap flight deals ready to whisk you away to your favourite locations. Whether it’s a fast-paced city escape in bustling New York, exotic weather in the Philippines, or a far-flung trip to Sydney you’re seeking, we’ve got a variety of cheap flights available from London and other major airports. We have close partnerships with over 150 airlines, meaning CheapFaresUS Travel customers can benefit from exclusive flight deals and discounts and travel to their dream destinations, for less.
                    </h4>
                    <!--/ Sub-Title with custom font size an very thin style -->
                </div>
                <!--/ Title element -->
            </div>
            <!--/ col-md-12 col-sm-12 -->
        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>
<!--/ Title - Style 1 section with custom top padding -->


<div class="kl-slideshow kl-slideshow-css3panels">
    <!-- Fake loading 1sec -->
    <div class="fake-loading loading-1s">
    </div>

    <!-- CSS3 Panels container with custom height -->
    <div class="css3panels-container css3panels--resize cssp-capt-animated cssp-capt-default no-skew" style="height:350px">
        <!-- Panel #1 light style -->
        <div class="css3panel css3panel--1 cp-theme--light">
            <!-- Panel wrapper with custom height -->
            <div class="css3panel-inner" style="height:3500px">
                <!-- Main image wrapper with custom height -->
                <div class="css3panel-mainimage-wrapper" style="height:350px">
                    <div style="background-image: url(images/sliders/css3panels-alt-04.jpg);" class="css3panel-mainimage">

                        <!-- Overlay color -->
                        <div class="css3p-overlay css3p--overlay-color" style="background: rgba(13,163,190,0.3)"></div>
                    </div>
                </div>
                <!--/ Main image wrapper with custom height -->
            </div>
            <!-- Panel wrapper with custom height -->
            <!-- Caption -->
            <div class="css3panel-caption">
                <!-- Link with title -->
                <a href="tel:<%=data.contact_us%>" target="_self" title="Dubai, UAE">
                    <!-- Title -->
                    <h3 class="css3panel-title">
                        Dubai, UAE
                    </h3>
                </a>
                <!--/ Link with title -->
                <!-- Button -->
                <div class="css3panel-btn-area">
                    <!-- Button skewed lined style -->
                    <a href="tel:<%=data.contact_us%>" target="_self" class="btn btn-lined btn-skewed" title="Dubai, UAE">
                        From £300
                    </a>
                </div>
                <!--/ Button -->
            </div>
            <!--/ Caption -->
        </div>
        <!--/ Panel #1 light style -->
        <!-- Panel #2 light style -->
        <div class="css3panel css3panel--2 cp-theme--light">
            <!-- Panel wrapper with custom height -->
            <div class="css3panel-inner" style="height:350px">
                <!-- Main image wrapper with custom height -->
                <div class="css3panel-mainimage-wrapper" style="height:350px">
                    <div style="background-image:url(images/sliders/css3panels-alt-03.jpg);" class="css3panel-mainimage">

                        <!-- Overlay color -->
                        <div class="css3p-overlay css3p--overlay-color" style="background: rgba(188,13,118,0.3)"></div>
                    </div>
                </div>
                <!--/ Main image wrapper with custom height -->
            </div>
            <!-- Panel wrapper with custom height -->
            <!-- Caption -->
            <div class="css3panel-caption">
                <!-- Link with title -->
                <a href="tel:<%=data.contact_us%>" target="_self" title="Manila, Philippines">
                    <!-- Title -->
                    <h3 class="css3panel-title">
                        Manila, Philippines
                    </h3>
                </a>
                <!--/ Link with title -->
                <!-- Button -->
                <div class="css3panel-btn-area">
                    <!-- Button skewed lined style -->
                    <a href="tel:<%=data.contact_us%>" target="_self" class="btn btn-lined btn-skewed" title="Manila, Philippines">
                        From £500
                    </a>
                </div>
                <!--/ Button -->
            </div>
            <!--/ Caption -->
        </div>
        <!--/ Panel #2 light style -->
        <!-- Panel #3 light style -->
        <div class="css3panel css3panel--3 cp-theme--light">
            <!-- Panel wrapper with custom height -->
            <div class="css3panel-inner" style="height:350px">
                <!-- Main image wrapper with custom height -->
                <div class="css3panel-mainimage-wrapper" style="height:350px">
                    <div style="background-image:url(images/sliders/css3panels-alt-02.jpg);" class="css3panel-mainimage">

                        <!-- Overlay color -->
                        <div class="css3p-overlay css3p--overlay-color" style="background: rgba(1,178,25,0.3)"></div>
                    </div>
                </div>
                <!--/ Main image wrapper with custom height -->
            </div>
            <!-- Panel wrapper with custom height -->
            <!-- Caption -->
            <div class="css3panel-caption">
                <!-- Link with title -->
                <a href="tel:<%=data.contact_us%>" target="_self" title="CheapfaresUS Cardion">
                    <!-- Title -->
                    <h3 class="css3panel-title">
                        Lagos, Nigeria
                    </h3>
                </a>
                <!--/ Link with title -->
                <!-- Button -->
                <div class="css3panel-btn-area">
                    <!-- Button skewed lined style -->
                    <a href="tel:<%=data.contact_us%>" target="_self" class="btn btn-lined btn-skewed" title="CheapfaresUS Cardion">
                        From £350
                    </a>
                </div>
                <!--/ Button -->
            </div>
            <!--/ Caption -->
        </div>
        <!--/ Panel #3 light style -->
        <!-- Panel #4 light style -->
        <div class="css3panel css3panel--4 cp-theme--light">
            <!-- Panel wrapper with custom height -->
            <div class="css3panel-inner" style="height:350px">
                <!-- Main image wrapper with custom height -->
                <div class="css3panel-mainimage-wrapper" style="height:350px">
                    <div style="background-image:url(images/sliders/css3panels-alt-01.jpg);" class="css3panel-mainimage">

                        <!-- Overlay color -->
                        <div class="css3p-overlay css3p--overlay-color" style="background: rgba(8,25,119,0.3)"></div>
                    </div>
                </div>
                <!--/ Main image wrapper with custom height -->
            </div>
            <!-- Panel wrapper with custom height -->
            <!-- Caption -->
            <div class="css3panel-caption">
                <!-- Link with title -->
                <a href="tel:<%=data.contact_us%>" target="_self" title=">CheapfaresUS Template">
                    <!-- Title -->
                    <h3 class="css3panel-title">
                        Delhi, India
                    </h3>
                </a>
                <!--/ Link with title -->
                <!-- Button -->
                <div class="css3panel-btn-area">
                    <!-- Button skewed lined style -->
                    <a href="tel:<%=data.contact_us%>" target="_self" class="btn btn-lined btn-skewed" title=">CheapfaresUS Gym">
                        From £400
                    </a>
                </div>
                <!--/ Button -->
            </div>
            <!--/ Caption -->
        </div>
        <!--/ Panel #4 light style -->
    </div>
    <!--/ CSS3 Panels container -->


    <div class="clearfix">
    </div>

    <!-- Bottom mask style 2 -->
    <div class="kl-bottommask kl-bottommask--shadow_ud">
    </div>
    <!--/ Bottom mask style 2 -->
</div>


<link rel="stylesheet" href="css/sliders/css3-panels/css3-panels.css" type="text/css" media="all">

