
<%- include('../partials/LayoutHeader')%>
<%- include('../partials/header')%>
<%- include('../partials/flightSearch')%>
<section class="hg_section bg-white pt-250">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="row gutter-md">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <!-- Icon box float left -->
                        <div class="kl-iconbox kl-iconbox--fleft text-left">
                            <div class="kl-iconbox__inner">
                                <!-- Icon -->
                                <div class="kl-iconbox__icon-wrapper">
                                    <img src="images/set-03-01.svg" class="kl-iconbox__icon" alt="Stunning Template">
                                </div>
                                <!--/ Icon -->
                                <!-- /.kl-iconbox__icon-wrapper -->
                                <div class="kl-iconbox__content-wrapper">
                                    <!-- Title -->
                                    <div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
                                        <h3 class="kl-iconbox__title fs-m fw-normal gray2">
                                            Best Price Guaranteed
                                        </h3>
                                    </div>
                                    <!--/ Title -->
                                    <!-- Description -->
                                    <div class=" kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
                                        <p class="kl-iconbox__desc fs-14 gray">
                                            Find lowest possible prices to worldwide destinations
                                        </p>
                                    </div>
                                    <!--/ Description -->
                                </div>
                                <!-- /.kl-iconbox__content-wrapper -->
                            </div>
                            <!--/ kl-iconbox__inner -->
                        </div>
                        <!--/ Icon box float left -->
                    </div>
                    <!--/ col-sm-12 col-md-6 col-lg-3 -->

                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <!-- Icon box float left -->
                        <div class="kl-iconbox kl-iconbox--fleft text-left">
                            <div class="kl-iconbox__inner">
                                <!-- Icon -->
                                <div class="kl-iconbox__icon-wrapper">
                                    <img class="kl-iconbox__icon" src="https://www.traveljunction.co.uk/images/booking-icon.png" alt="Iconic Awarded Design">
                                </div>
                                <!--/ Icon -->
                                <!-- /.kl-iconbox__icon-wrapper -->
                                <div class="kl-iconbox__content-wrapper">
                                    <!-- Title -->
                                    <div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
                                        <h3 class="kl-iconbox__title fs-m fw-normal gray2">
                                            Easy Booking
                                        </h3>
                                    </div>
                                    <!--/ Title -->
                                    <!-- Description -->
                                    <div class=" kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
                                        <p class="kl-iconbox__desc fs-14 gray">
                                            Search and save - the fastest way to book your trip.
                                        </p>
                                    </div>
                                    <!--/ Description -->
                                </div>
                                <!-- /.kl-iconbox__content-wrapper -->
                            </div>
                            <!--/ kl-iconbox__inner -->
                        </div>
                        <!-- Icon box float left -->
                    </div>
                    <!--/ col-sm-12 col-md-6 col-lg-3 -->

                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <!-- Icon box float left -->
                        <div class="kl-iconbox kl-iconbox--fleft text-left">
                            <div class="kl-iconbox__inner">
                                <!-- Icon -->
                                <div class="kl-iconbox__icon-wrapper">
                                    <img class="kl-iconbox__icon" src="https://www.traveljunction.co.uk/images/safe-icon.png" alt="Featurewise Complete">
                                </div>
                                <!--/ Icon -->
                                <!-- /.kl-iconbox__icon-wrapper -->
                                <div class="kl-iconbox__content-wrapper">
                                    <!-- Title -->
                                    <div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
                                        <h3 class="kl-iconbox__title fs-m fw-normal gray2">
                                            Safe & Secure
                                        </h3>
                                    </div>
                                    <!--/ Title -->
                                    <!-- Description -->
                                    <div class="kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
                                        <p class="kl-iconbox__desc fs-14 gray">
                                            Trusted by Millions; Every Transaction is Safe & Secure
                                        </p>
                                    </div>
                                    <!--/ Description -->
                                </div>
                                <!-- /.kl-iconbox__content-wrapper -->
                            </div>
                            <!--/ kl-iconbox__inner -->
                        </div>
                        <!--/ Icon box float left -->
                    </div>
                    <!--/ col-sm-12 col-md-6 col-lg-3 -->

                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <!-- Icon box float left -->
                        <div class="kl-iconbox kl-iconbox--fleft text-left">
                            <div class="kl-iconbox__inner">
                                <!-- Icon -->
                                <div class="kl-iconbox__icon-wrapper ">
                                    <img class="kl-iconbox__icon" src="images/set-03-04.svg" alt="Mature project">
                                </div>
                                <!--/ Icon -->
                                <!-- /.kl-iconbox__icon-wrapper -->
                                <div class="kl-iconbox__content-wrapper">
                                    <!-- Title -->
                                    <div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
                                        <h3 class="kl-iconbox__title fs-m fw-normal gray2">
                                            Customer Service
                                        </h3>
                                    </div>
                                    <!--/ Title -->
                                    <!-- Description -->
                                    <div class=" kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
                                        <p class="kl-iconbox__desc fs-14 gray">
                                            24/7 Round the Clock Customer Service
                                        </p>
                                    </div>
                                    <!--/ Description -->
                                </div>
                                <!-- /.kl-iconbox__content-wrapper -->
                            </div>
                            <!--/ kl-iconbox__inner -->
                        </div>
                    </div>
                    <!--/ col-sm-12 col-md-6 col-lg-3 -->
                </div>
                <!--/ row gutter-md -->
            </div>
            <!--/ col-lg-10 offset-lg-1 -->
        </div>
        <!--/ row -->
    </div>
    <!--/ container-fluid -->
</section>

<%- include('../partials/topFlightOffer')%>
<%- include('../partials/footer')%>
<%- include('../partials/LayoutFooter')%>

